{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Detail </title>
        <link rel="stylesheet"  type="text/css" href="{% static 'detail.css' %}">
    </head>

    <!-- indise -->
    <body>
        

          
            <div class="objectdiv">
                <h3 class="title"> {{ object.title }} </h3>
                <h7 class="seven"> Title </h7>
                <h3 class="authur"> {{ object.authur }} </h3>
                <h7 class="seven"> Authur </h7>
                <h3 class="body"> {{ object.body }} </h3>
                
            </div>
           

     </body>


</html>