{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Home </title>
        <link rel="stylesheet"  type="text/css" href="{% static 'index.css' %}">
         
    </head>

    <!-- indise -->
    <body>

            <div class="nav">


            </div>
                {% if messages %}
                    {% for message in messages %}
                        <h3> {{ message }}</h3>
                    {% endfor %}
                {% endif %}

            {%  for models in database %}
            <div class="objectdiv">
                <h3 class="title"> {{ models.title }} </h3>
                <h3 class="authur"> {{ models.authur }} </h3>
                <h3 class="body"> {{ models.summery }} </h3>
                <a href="{% url 'detail' models.id  %}"> Read </a>
            </div>
            {% endfor %}

     </body>


</html>