/* *{
    background: rgb(231, 229, 229);
} */

.objectdiv {
    width: 70%;
    height: auto;
    background: hotpink;
    margin: 10% auto 5% 10%;
    text-align: center;
}

.title {
    width: 90%;
    /* background: yellow; */
    text-align: left;
    margin: 2% 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}


.authur {
    width: 90%;
    /* background: rgb(135, 51, 214); */
    margin: 1% opx;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;

}

.body {
    width: 80%;
    height: 60%;
    /* background: yellow; */
    text-align: center;
    margin: 5% auto;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 150%;
}

.seven {
   /* background: lightseagreen; */
    text-align: center;
    font-size: 20px;
    margin-right: 90%;
    color: rgb(252, 255, 45);
   
}